---

---

<footer>
    <div class="mx-auto max-w-7xl overflow-hidden px-6 pb-20 lg:px-8">
      <nav class="-mb-6 columns-2 sm:flex sm:justify-center sm:space-x-12" aria-label="Footer">
        <div class="pb-6">
          <a href="/contact" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Contact</a>
        </div>
        <div class="pb-6">
          <a href="/legale/" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Mentions Légales</a>
        </div>
      </nav>
      <div class="mt-10 flex justify-center space-x-8">
        <a href="https://twitter.com" target="_blank" rel="nofollow noopenner" >
          <img src="/twitter.png" class="h-6 w-6" />
        </a>
        <a href="https://tiktok.com" target="_blank" rel="nofollow noopenner" >
            <img src="/tik-tok.png" class="h-6 w-6" />
        </a>
        <a href="https://youtube.com" target="_blank" rel="nofollow noopenner" >
            <img src="/youtube.png" class="h-6 w-6" />
        </a>
      </div>
      <p class="mt-10 text-center text-xs leading-5 text-gray-500">&copy; 2023 Deepland.co</p>
    </div>
  </footer>