---
import Header from "../components/Header";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image" href="/iconsmallbg.jpg" />
		<meta name="generator" content={Astro.generator} />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Outfit:wght@300;400;500;600;700&display=swap" rel="stylesheet">
		
		<slot name="head" />

	</head>
	<body>
		<Header client:load />
		<div class="bg-gradient min-h-screen">
			<slot />
			<Footer />
		</div>
	</body>
</html>
<style is:global>
	body {
		font-family: 'Inter', sans-serif;
		font-size: 16px;
	}

	.bg-gradient {
		background: radial-gradient(50% 50% at 50% 50%, #F6F6F6 0%, #FEF2FF 0.01%, #F6F6F6 100%);
	}

	h1 {
		font-family: 'Outfit';
		font-style: normal;
		font-weight: 600 !important;
  	}

  	.post-content p {
		font-size: 18px;
		font-weight: 400;
		font-family: 'Inter', sans-serif;
		line-height: 1.6;
		margin-top: 32px;
		color:rgb(20, 21, 26);
	}

  	.post-content h2 {
		margin-top: 54px;
		margin-bottom: 27px;
		font-family: 'Outfit';
		font-weight: 500;
		font-size: 38px;
	}

	.post-content h3 {
		margin-top: 38px;
		margin-bottom: 20px;
		font-family: 'Outfit';
		font-weight: 400;
		font-size: 26px;
	}

	.post-content pre {
		margin-top: 14px;
		padding: 12px;
		border: 2px solid #000000;
		border-style: dashed;
	}

	.post-content code {
		white-space: break-spaces;
	}

	.post-content a {
		color: #3870ff;
		text-decoration: underline;
	}

	.post-content figure img {
		border-radius: 12px;
		margin-bottom: 27px;
	}
</style>
